# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# 忽略操作系统生成的文件
.DS_Store
Thumbs.db

# 忽略Python生成的临时文件和缓存文件
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# 忽略数据集文件
*.csv

# 忽略模型文件
/model/**/config.json
/model/**/pytorch_model.bin
/model/**/vocab.txt

# 忽略Jupyter Notebook生成的文件
.ipynb_checkpoints/

# 忽略PyCharm的配置文件和缓存文件
.idea/
*.iml
*.iws
*.ids
*.code-workspace

# 忽略环境文件
.env

# 忽略文档生成的文件
docs/_build/

# 忽略依赖和虚拟环境文件
venv/
env/
.env/
